<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Design your pizza</title>

</head>
<body>
<table id = container width="320" height="640">
    <tr>
        <td id = header colspan="2">
            <h1> Choose your pizza</h1>
        </td>
    </tr>
    <tr>
        <td>
            <img th:src="@{/images/pizza.jpg}" height=160px;
                 width=160px />
        </td>
        <td>
            <img th:src="@{/images/pizza.jpg}" height=160px;
                 width=160px />
        </td>
    </tr>
    <tr>
        <td>
            <img th:src="@{/images/pizza.jpg}" height=160px;
                 width=160px />
        </td>
        <td>
            <img th:src="@{/images/pizza.jpg}" height=160px;
                 width=160px />
        </td>
    </tr>
    <tr>
        <td>
            <img th:src="@{/images/pizza.jpg}" height=160px;
                 width=160px />
        </td>
        <td>
            <img th:src="@{/images/pizza.jpg}" height=160px;
                 width=160px />
        </td>
    </tr>

</table>

</body>
</html>