<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org" xmlns:size="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>

<head>
    <meta charset="UTF-8">
    <title>PIZZA HEAVEN!</title>

</head>
<body>

    <h1> Welcome to pizza Heaven</h1>
    <img th:src="@{/images/pizza.jpg}" height=300px;
    width=400px /></br>
    <a class="link" href="/design"> Design your own pizza </a></br>
    <a class="link" href="/chooseyourpizza"> Choose your pizza </a></br>

</body>
</html>